
.welcomeTitle {
    display: flex;
    justify-content: center;
}

.teamDiv {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.teammate {
    padding: 5px;
    margin: 5px;
}

img {
    border: 5px solid rgb(216, 103, 10);
}

.cursedTitle {
    color: rgb(216, 103, 10);
}

.teamName {
    font-size: 20px;
    color: #000;
}

.teamTitle {
    display: flex;
    justify-content: center;
}